dataint/node-red-mortality-rate.json
[
    {
        "id": "11486f3ff8ee0ee9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "df3b2cfa2c5c1f13",
        "type": "function",
        "z": "11486f3ff8ee0ee9",
        "name": "Prepare Mortality Data",
        "func": "let rows = msg.payload || [];\nlet countries = ['Portugal', 'France', 'Germany'];\nlet datasets = [];\nlet labels = [...new Set(rows.map(r => r.year))].sort();\n\ncountries.forEach((country, i) => {\n    let filtered = rows.filter(r => r.country_name === country).sort((a,b) => a.year - b.year);\n    datasets.push({\n        label: country + ' - Mortalidade (%)',\n        data: filtered.map(r => r.mortality_rate),\n        borderColor: `hsl(${i*60},70%,50%)`,\n        fill: false,\n        tension: 0.2\n    });\n});\n\nmsg.payload = { labels, datasets };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "34c543a5ef86e69b"
            ]
        ]
    },
    {
        "id": "9f4d6d83ce4bbd22",
        "type": "inject",
        "z": "11486f3ff8ee0ee9",
        "name": "Trigger Mortality Query",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "once": true,
        "onceDelay": "",
        "topic": "SELECT country_name, year, mortality_rate FROM covid_annual_metrics WHERE country_name IN ('Portugal','France','Germany');",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "e10fc89d3efbd562"
            ]
        ]
    },
    {
        "id": "e10fc89d3efbd562",
        "type": "mysql",
        "z": "11486f3ff8ee0ee9",
        "mydb": "ef8a252883099ced",
        "name": "Get Mortality Data",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "df3b2cfa2c5c1f13"
            ]
        ]
    },
    {
        "id": "34c543a5ef86e69b",
        "type": "ui_template",
        "z": "11486f3ff8ee0ee9",
        "group": "4a8b3b9f7d21a8a0",
        "name": "Chart - Taxa de Mortalidade (%)",
        "order": 0,
        "width": 12,
        "height": 6,
        "format": "<div style=\"width:100%;height:100%;\"><canvas id=\"chart-mortality\"></canvas></div>\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n<script>\n(function(scope) {\n    let chart = null;\n    scope.$watch('msg', function(msg) {\n        if(!msg || !msg.payload) return;\n        const ctx = document.getElementById('chart-mortality').getContext('2d');\n        if(chart) chart.destroy();\n\n        chart = new Chart(ctx, {\n            type: 'line',\n            data: msg.payload,\n            options: {\n                responsive: true,\n                maintainAspectRatio: false,\n                scales: {\n                    x: { title: { display: true, text: 'Ano' } },\n                    y: { title: { display: true, text: 'Taxa de Mortalidade (%)' }, beginAtZero: true }\n                },\n                plugins: {\n                    legend: { position: 'top' },\n                    title: { display: true, text: 'Evolução da Taxa de Mortalidade COVID-19 (2020–2024)' }\n                }\n            }\n        });\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 830,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d4a0f6b9b2d7f2a1",
        "type": "inject",
        "z": "11486f3ff8ee0ee9",
        "name": "Get Top10 Mortality",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "once": true,
        "onceDelay": "",
        "topic": "SELECT country_name, avg_mortality_rate FROM covid_top10_mortality ORDER BY avg_mortality_rate DESC;",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "ad61c2e3a14df20d"
            ]
        ]
    },
    {
        "id": "ad61c2e3a14df20d",
        "type": "mysql",
        "z": "11486f3ff8ee0ee9",
        "mydb": "ef8a252883099ced",
        "name": "Query Top10 Mortality",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "cf936cdb4b9b6d4f"
            ]
        ]
    },
    {
        "id": "cf936cdb4b9b6d4f",
        "type": "ui_template",
        "z": "11486f3ff8ee0ee9",
        "group": "ecb0a93006d6747d",
        "name": "Tabela Top10 Mortalidade",
        "order": 0,
        "width": 12,
        "height": 6,
        "format": "<table style=\"width:100%;text-align:left;border-collapse:collapse;\">\n  <thead>\n    <tr style=\"background:#333;color:white;\">\n      <th>Posição</th>\n      <th>País</th>\n      <th>Taxa Média (%)</th>\n    </tr>\n  </thead>\n  <tbody id=\"mortality-table-body\"></tbody>\n</table>\n\n<script>\n(function(scope){\n  scope.$watch('msg', function(msg){\n    if(!msg || !msg.payload) return;\n    let html=\"\";\n    msg.payload.forEach((row, i)=>{\n      html += `<tr style='border-bottom:1px solid #ccc;'>\n        <td>${i+1}</td>\n        <td>${row.country_name}</td>\n        <td>${row.avg_mortality_rate.toFixed(2)}</td>\n      </tr>`;\n    });\n    document.getElementById('mortality-table-body').innerHTML = html;\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ef8a252883099ced",
        "type": "MySQLdatabase",
        "name": "health_data",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "health_data",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "4a8b3b9f7d21a8a0",
        "type": "ui_group",
        "name": "Taxa de Mortalidade",
        "tab": "90bae42b81ca08da",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ecb0a93006d6747d",
        "type": "ui_group",
        "name": "Top 10 Mortalidade",
        "tab": "90bae42b81ca08da",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "90bae42b81ca08da",
        "type": "ui_tab",
        "name": "Estatísticas",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "30b4f3977a7959ef",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "2.0.0",
            "node-red-dashboard": "3.6.6"
        }
    }
]